* {
  outline: 0;
  user-select: none; }

body {
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

.change-img {
  content: url("../images/bg-carousel-gr.png"); }

.style-change {
  color: #fff;
  position: fixed;
  bottom: 80px;
  left: -55px;
  background: rgba(0, 0, 0, 0.7);
  width: 430px;
  height: 30px;
  z-index: 5;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  transform: rotate(30deg);
  font-size: 12px;
  box-shadow: 0 0 25px 3px #fff; }
  .style-change .text {
    display: inline;
    width: 180px;
    height: 30px;
    line-height: 30px; }
  .style-change .color {
    width: 30px;
    margin: 5px;
    display: inline-block;
    height: 20px;
    cursor: pointer; }
  .style-change .blue {
    background: blue; }
  .style-change .red {
    background: red; }
  .style-change .green {
    background: green; }
  .style-change button {
    margin-left: 20px;
    color: #fff;
    opacity: 1; }
    .style-change button:hover {
      color: #54b50a; }

.animation {
  animation: zoomInUp 3s; }

.col-extra {
  width: 100%;
  display: none; }
  .col-extra .submit-sec {
    background: #3b7703;
    border: 1px solid #3b7703;
    color: #fff;
    display: block;
    font-size: 2.3vh;
    height: 7vh;
    line-height: 5vh;
    margin: 40px auto 20px;
    text-transform: uppercase;
    padding: 0 30px; }
    .col-extra .submit-sec:hover {
      box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5), 0 0 20px rgba(60, 60, 60, 0.2);
      transform: scale(1.2);
      transition: 0.5s; }

.wrapper {
  height: 100% !important;
  margin: 0 auto;
  overflow: hidden;
  width: 75%;
  float: left;
  background: #fff; }

#menu-wrapper {
  background: #54b50a; }
  #menu-wrapper .shadow {
    position: absolute;
    height: 150px;
    width: 3000px;
    z-index: 0;
    left: -700px;
    transform: rotate(45deg); }
  #menu-wrapper .shadow-0 {
    top: -220px;
    background: rgba(0, 0, 0, 0.1); }
  #menu-wrapper .shadow-1 {
    top: -30px;
    background: rgba(0, 0, 0, 0.2); }
  #menu-wrapper .shadow-2 {
    top: 160px;
    background: rgba(0, 0, 0, 0.3); }
  #menu-wrapper .shadow-3 {
    top: 350px;
    background: rgba(0, 0, 0, 0.4); }
  #menu-wrapper .shadow-4 {
    top: 540px;
    background: rgba(0, 0, 0, 0.4); }
  #menu-wrapper .shadow-5 {
    top: 730px;
    background: rgba(0, 0, 0, 0.3); }
  #menu-wrapper .shadow-6 {
    top: 920px;
    background: rgba(0, 0, 0, 0.2);
    text-align: left; }
    #menu-wrapper .shadow-6 span {
      margin-left: 400px;
      color: rgba(255, 255, 255, 0.5);
      display: block; }
  #menu-wrapper .shadow-7 {
    top: 1110px;
    background: rgba(0, 0, 0, 0.1); }
  #menu-wrapper .content-menu {
    position: relative;
    z-index: 1; }
  #menu-wrapper h1 {
    line-height: 30px;
    display: inline-block;
    font-size: 40px;
    float: left;
    margin-left: 30px;
    position: relative;
    z-index: 1;
    font-family: 'Courgette', cursive; }
  #menu-wrapper h2 {
    line-height: 30px;
    font-size: 40px;
    margin-right: 40px;
    float: right;
    position: relative;
    z-index: 1;
    font-family: 'Courgette', cursive; }
  #menu-wrapper h4 {
    margin-top: 4.8vh;
    font-size: 16px;
    font-weight: 700; }
  #menu-wrapper .photo {
    background-image: url("../images/face.jpg");
    background-size: cover;
    background-position: center;
    width: 25vh;
    height: 25vh;
    margin: 80px auto 6vh;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 25px 5px #fff; }
    #menu-wrapper .photo:hover {
      transform: rotate(720deg);
      transition: 3s; }
  #menu-wrapper a {
    text-decoration: none; }
  #menu-wrapper .onepage-pagination {
    position: static;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    width: 100%; }
    #menu-wrapper .onepage-pagination * {
      padding: 0;
      margin: 0;
      width: 100%; }
    #menu-wrapper .onepage-pagination li {
      display: block;
      position: static; }
    #menu-wrapper .onepage-pagination li a {
      display: block;
      margin: 10px auto 0;
      height: 5.5vh;
      position: static; }
    #menu-wrapper .onepage-pagination li a:before {
      position: static;
      background: transparent;
      border: none; }
    #menu-wrapper .onepage-pagination li a.active:before {
      background: transparent;
      border: none; }
    #menu-wrapper .onepage-pagination button {
      display: block;
      margin: 10px auto;
      width: 17vw;
      min-width: 200px;
      height: 6vh;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      color: #fff;
      font-weight: 700; }
      #menu-wrapper .onepage-pagination button:hover {
        background: #fff;
        color: #54b50a;
        transition: 1s;
        border: none; }
  #menu-wrapper .social a {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 10px;
    line-height: 55px; }
    #menu-wrapper .social a:hover {
      background: #fff;
      transition: 0.4s; }
    #menu-wrapper .social a:hover .fa {
      color: #067394;
      transition: 0.4s; }
    #menu-wrapper .social a .fa {
      color: #fff;
      font-size: 30px; }

.main {
  float: left;
  width: 100%;
  margin: 0 auto; }

.menu {
  font-size: 2.2vh;
  background: #54b50a;
  height: 100vh;
  color: #fff;
  padding: 9vh 30px;
  width: 25%;
  float: right;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  .menu .shadow {
    position: absolute;
    height: 150px;
    width: 1000px;
    z-index: 0;
    transform: rotate(45deg); }
  .menu .shadow-0 {
    left: -200px;
    top: -20px;
    background: rgba(0, 0, 0, 0.1); }
  .menu .shadow-1 {
    left: -200px;
    top: 170px;
    background: rgba(0, 0, 0, 0.2); }
  .menu .shadow-2 {
    left: -200px;
    top: 360px;
    background: rgba(0, 0, 0, 0.3); }
  .menu .shadow-3 {
    left: -200px;
    top: 550px;
    background: rgba(0, 0, 0, 0.4);
    text-align: left; }
    .menu .shadow-3 span {
      margin-left: 30px;
      color: rgba(255, 255, 255, 0.5);
      display: block; }
  .menu .shadow-4 {
    left: -200px;
    top: 740px;
    background: rgba(0, 0, 0, 0.3); }
  .menu .shadow-5 {
    left: -200px;
    top: 930px;
    background: rgba(0, 0, 0, 0.2); }
  .menu .content-menu {
    position: relative;
    z-index: 1; }
  .menu h1 {
    line-height: 10px;
    display: inline-block;
    padding: 0 5px;
    font-size: 5.7vh; }
  .menu h3 {
    margin: 4.8vh auto;
    font-size: 3.8vh; }
  .menu h4 {
    margin-top: 4.8vh;
    font-size: 2.8vh; }
  .menu .photo {
    background-image: url("../images/face.jpg");
    background-size: cover;
    background-position: center;
    width: 12vw;
    height: 12vw;
    margin: 0 auto 3vh;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 25px 5px #fff; }
    .menu .photo:hover {
      transform: rotate(720deg);
      transition: 3s; }
  .menu a {
    text-decoration: none; }
  .menu .onepage-pagination {
    position: static;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    width: 100%; }
    .menu .onepage-pagination * {
      padding: 0;
      margin: 0;
      width: 100%; }
    .menu .onepage-pagination li {
      display: block;
      position: static; }
    .menu .onepage-pagination li a {
      display: block;
      margin: 10px auto 0;
      height: 5.5vh;
      position: static; }
    .menu .onepage-pagination li a:before {
      position: static;
      background: transparent;
      border: none; }
    .menu .onepage-pagination li a.active:before {
      background: transparent;
      border: none; }
    .menu .onepage-pagination button {
      display: block;
      margin: 10px auto;
      width: 17vw;
      height: 5.5vh;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      color: #fff;
      font-weight: 700; }
      .menu .onepage-pagination button:hover {
        background: #fff;
        color: #54b50a;
        transition: 1s;
        border: none; }
  .menu .social a {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 10px;
    line-height: 55px; }
    .menu .social a:hover {
      background: #fff;
      transition: 0.4s; }
    .menu .social a:hover .fa {
      color: #067394;
      transition: 0.4s; }
    .menu .social a .fa {
      color: #fff;
      font-size: 30px; }

.page {
  background: linear-gradient(to bottom left, #aaea88, #54b50a);
  padding: 10px 50px;
  text-align: left;
  color: #194203; }
  .page h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 10vh;
    font-weight: 700;
    margin-left: 40px; }
  .page .hr {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: #194203; }
  .page .content-page {
    margin: 30px 20px;
    width: calc(100% - 60px);
    text-align: justify; }
  .page fieldset {
    padding: 30px 80px 20px;
    border: 3px solid #194203;
    border-radius: 20px; }
    .page fieldset legend {
      width: inherit;
      padding: 0 10px;
      border-bottom: none;
      color: #194203;
      font-size: 2.2vw; }

.page1 {
  background: linear-gradient(to bottom left, #aaea88, #54b50a); }
  .page1 img {
    height: 75px;
    display: inline-block;
    padding: 0 0 5px 5px; }
  .page1 .big {
    height: 100px; }
  .page1 .small {
    height: 60px; }
  .page1 .very-small {
    height: 30px;
    margin-top: 20px; }
  .page1 p {
    font-size: 2.3vh; }

.page2 .nav-tabs {
  background: transparent;
  color: #fff;
  width: 310px;
  border: none; }
  .page2 .nav-tabs * {
    color: #fff; }
  .page2 .nav-tabs li a {
    background: #3b7703; }
    .page2 .nav-tabs li a:hover {
      background: #067394; }
  .page2 .nav-tabs li.active a {
    background: #194203;
    border: none;
    border-bottom: 4px solid #067394;
    color: #fff; }
.page2 .glyphicon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff;
  background: #067394;
  line-height: 40px; }
.page2 .glyphicon-chevron-left {
  left: 15px; }
.page2 .glyphicon-chevron-right {
  right: 15px; }
.page2 .carousel-indicators {
  bottom: 0; }
  .page2 .carousel-indicators li {
    border-color: #067394; }
  .page2 .carousel-indicators .active {
    background: #067394; }
.page2 .carousel-control {
  background: transparent;
  opacity: 0.8; }
  .page2 .carousel-control:hover {
    opacity: 1; }
.page2 .carousel-caption {
  top: -20px;
  width: 80%;
  margin-left: -10%; }
  .page2 .carousel-caption fieldset {
    padding: 0 30px 20px;
    border: 3px solid #067394;
    border-radius: 20px;
    text-align: left; }
    .page2 .carousel-caption fieldset legend {
      color: #067394; }
  .page2 .carousel-caption .col {
    position: relative;
    overflow: hidden;
    height: 21vw;
    padding: 0; }
    .page2 .carousel-caption .col .mockup {
      background-position: center;
      height: 21vw;
      width: 100%;
      z-index: 3;
      background-size: cover; }
    .page2 .carousel-caption .col .layer {
      height: 21vw;
      z-index: 2;
      width: 100%;
      position: absolute;
      top: 21vw;
      text-align: center; }
      .page2 .carousel-caption .col .layer .ico {
        margin-top: 100px; }
        .page2 .carousel-caption .col .layer .ico a {
          display: inline-block;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          margin: 0 10px;
          line-height: 90px;
          border: 3px solid #067394; }
          .page2 .carousel-caption .col .layer .ico a:hover {
            background: #fff;
            transition: 0.4s; }
          .page2 .carousel-caption .col .layer .ico a:hover .fa {
            color: #067394;
            transition: 0.4s; }
          .page2 .carousel-caption .col .layer .ico a .fa {
            color: #fff;
            font-size: 50px; }
    .page2 .carousel-caption .col:hover .layer {
      top: 0;
      background: rgba(179, 218, 245, 0.6);
      transition: top 0.5s ease-in; }
  .page2 .carousel-caption .description {
    padding: 0 10px; }
    .page2 .carousel-caption .description img {
      width: 35px; }
    .page2 .carousel-caption .description .big {
      width: 85px; }
    .page2 .carousel-caption .description .small {
      width: 20px; }
    .page2 .carousel-caption .description p {
      font-size: 21px;
      color: #067394; }
    .page2 .carousel-caption .description span {
      margin-bottom: 15px;
      display: block;
      color: #3b7703;
      font-size: 18px; }

.mockup-1 {
  background-image: url("../images/Awax.PNG"); }

.mockup-2 {
  background-image: url("../images/Mache.PNG"); }

.mockup-3 {
  background-image: url("../images/Golden.PNG"); }

.mockup-4 {
  background-image: url("../images/PhotoApp.PNG"); }

.mockup-5 {
  background-image: url("../images/sudoku.png"); }

.mockup-6 {
  background-image: url("../images/tic.png"); }

.mockup-7 {
  background-image: url("../images/papier.png"); }

.mockup-8 {
  background-image: url("../images/guess.png"); }

.mockup-9 {
  background-image: url("../images/czat.png"); }

.mockup-10 {
  background-image: url("../images/kanban.png"); }

.mockup-11 {
  background-image: url("../images/bazapanstw.png"); }

.mockup-12 {
  background-image: url("../images/listazadan.png"); }

.mockup-13 {
  background-image: url("../images/stoper.png"); }

.mockup-14 {
  background-image: url("../images/wyszukiwarkapanstw.png"); }

.mockup-15 {
  background-image: url("../images/githubusers.png"); }

.mockup-16 {
  background-image: url("../images/cytat.png"); }

.page3 textarea {
  resize: none;
  background: #aaea88;
  height: 37.5vh;
  font-size: 2.2vh;
  width: 100%;
  color: #194203; }
  .page3 textarea::placeholder {
    color: #194203; }
.page3 input {
  background: #aaea88;
  height: 6.5vh;
  font-size: 2.2vh;
  color: #194203; }
  .page3 input::placeholder {
    color: #194203; }
.page3 button {
  background: #3b7703;
  border: 1px solid #3b7703;
  color: #fff;
  display: block;
  font-size: 2.3vh;
  height: 7vh;
  line-height: 5vh;
  margin: 40px auto 20px;
  text-transform: uppercase;
  padding: 0 30px; }
  .page3 button:hover {
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5), 0 0 20px rgba(60, 60, 60, 0.2);
    transform: scale(1.2);
    transition: 0.5s; }

@media (max-width: 1576px) {
  .menu {
    padding: 7vh 30px; }

  .page fieldset {
    padding: 0 80px 20px; }

  .page1 img {
    height: 50px; }
  .page1 .big {
    height: 65px; }
  .page1 .small {
    height: 40px; }
  .page1 .very-small {
    height: 20px; } }
@media (max-width: 1200px) {
  .menu {
    padding: 3vh 10px; }

  .page .content-page {
    margin: 15px 20px; }
  .page fieldset {
    padding: 0 30px 10px; }
    .page fieldset legend {
      font-size: 3vw; }

  .page1 p {
    font-size: 2.2vh; }

  .page2 .carousel-indicators {
    display: none; }
  .page2 .carousel-caption .description span {
    font-size: 12px;
    margin-bottom: 7px; }
  .page2 .carousel-caption .description p {
    line-height: 13px; } }
@media (max-width: 991px) {
  .menu {
    display: none; }

  .wrapper {
    width: 100%; }

  #menu-wrapper {
    display: block; }

  .page {
    padding: 70px 20px; }
    .page fieldset {
      padding: 0 5px 10px; }
      .page fieldset legend {
        font-size: 4vw; }

  .page1 img {
    height: 3.2vw;
    padding: 0 0 5px 0; }
  .page1 .big {
    height: 4.5vw; }
  .page1 .small {
    height: 3vw; }
  .page1 .very-small {
    height: 1.4vw;
    margin-top: 1.3vw; }
  .page1 p {
    font-size: 2.7vh; }

  .page2 {
    padding: 80px 50px; }
    .page2 h1, .page2 .hr {
      display: none; }
    .page2 .change-img {
      content: url("../images/bg-carousel-panorama-gr.png"); }
    .page2 .carousel-caption {
      padding-top: 30px; }
      .page2 .carousel-caption fieldset {
        padding: 0 5px 10px; }
        .page2 .carousel-caption fieldset .row {
          margin: 0;
          width: 100%; }
      .page2 .carousel-caption .col .layer .ico {
        margin-top: 50px; }
      .page2 .carousel-caption .description span {
        font-size: 10px;
        margin-bottom: 5px; }
      .page2 .carousel-caption .description p {
        line-height: 13px;
        font-size: 13px;
        margin: 0 0 4px; }

  .page3 button {
    margin: 15px auto 10px; } }
@media (max-width: 991px) and (orientation: landscape) {
  #menu-wrapper .menu-col {
    display: inline-block;
    width: 220px; }
  #menu-wrapper .onepage-pagination li a {
    margin: 10px auto;
    height: 6vh;
    min-height: 35px; }
  #menu-wrapper .onepage-pagination button {
    margin: 10px auto;
    width: 17vw;
    min-width: 200px;
    height: 6vh;
    min-height: 30px; }

  .page fieldset legend {
    font-size: 3vw; } }
@media (max-width: 768px) {
  .onepage-pagination {
    left: 0; }

  .onepage-pagination li a {
    padding: 7px;
    width: 2px;
    height: 2px; }

  .onepage-pagination li a:before {
    width: 4px;
    height: 4px; }

  .onepage-pagination li a.active:before {
    width: 5px;
    height: 5px;
    margin-top: -1px;
    left: 6px; }

  #menu-wrapper #hamburger-menu {
    width: 25px;
    height: 20px;
    margin: 15px; }

  #menu-wrapper #hamburger-menu span {
    height: 2px;
    border-radius: 10px;
    position: absolute; }

  #menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0; }

  #menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px; }

  #menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px; }

  #menu-wrapper #hamburger-menu.open span:nth-child(1) {
    top: 9px; }

  #menu-wrapper #hamburger-menu.open span:nth-child(3) {
    top: 9px; }

  #menu-wrapper h1 {
    line-height: 10px;
    font-size: 30px;
    margin-left: 15px; }
  #menu-wrapper h2 {
    line-height: 10px;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px; } }
@media (max-width: 768px) and (orientation: landscape) {
  #menu-wrapper {
    height: 45px; }
    #menu-wrapper .photo {
      margin: 50px auto 2vh; }

  .page {
    padding: 35px 20px; }
    .page fieldset {
      padding: 0 5px 4px; }
      .page fieldset legend {
        font-size: 2.2vw;
        margin-bottom: 4px; }

  .page1 .content-page {
    margin: 10px 10px;
    width: calc(100% - 20px); }
  .page1 img.es6 {
    display: none; }

  .page2 .carousel-caption {
    margin-top: 20px;
    padding-top: 10px;
    width: 90%; }
    .page2 .carousel-caption .col .mockup {
      background-position: 50% 40%; }
    .page2 .carousel-caption .description img {
      width: 17px; }
    .page2 .carousel-caption .description .big {
      width: 42px; }
    .page2 .carousel-caption .description .small {
      width: 10px; }
    .page2 .carousel-caption .description span {
      font-size: 8px;
      margin-bottom: 5px; }
    .page2 .carousel-caption .description p {
      line-height: 11px;
      font-size: 11px;
      margin: 0 0 4px; }
  .page2 .content-page {
    margin: 20px 10px 10px;
    width: 100%; }
  .page2 .nav-tabs {
    border: none; }
    .page2 .nav-tabs * {
      font-size: 11px; }
    .page2 .nav-tabs li a {
      padding: 2px 5px; }
    .page2 .nav-tabs li.active a {
      border-bottom: 3px solid #067394;
      padding: 2px 5px; }
  .page2 .glyphicon {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 12px; }
  .page2 .glyphicon-chevron-left {
    left: 12px; }
  .page2 .glyphicon-chevron-right {
    right: 12px; }
  .page2 .carousel-control {
    width: 30px; }

  .page3 .form-group {
    margin: 5px 0; }
  .page3 .content-page {
    margin: 10px 0;
    width: 100%; }
  .page3 button {
    margin: 15px auto 0; }
  .page3 textarea {
    height: 35vh; } }
@media (max-width: 768px) and (orientation: portrait) {
  #menu-wrapper {
    height: 45px; }

  .page {
    padding: 35px 20px; }
    .page h1 {
      font-size: 10vw; }
    .page fieldset {
      padding: 0 5px 4px; }
      .page fieldset legend {
        font-size: 4vw;
        margin-bottom: 4px; }

  .page1 .content-page {
    margin: 10px 0 10px 10px;
    width: calc(100% - 20px); }
  .page1 p {
    font-size: 1.8vh; }
  .page1 img {
    height: 3.2vh;
    padding: 0 0 5px 0; }
  .page1 .big {
    height: 4.5vh; }
  .page1 .small {
    height: 3vh; }
  .page1 .very-small {
    height: 1.4vh;
    margin-top: 1.3vh; }

  .page2 .change-img {
    content: url("../images/bg-carousel-hor-gr.png"); }
  .page2 .carousel-caption {
    margin-top: 0px;
    margin-left: -2vw;
    width: 75%; }
    .page2 .carousel-caption .col {
      width: 100%;
      height: 30vh;
      margin-top: 10px; }
      .page2 .carousel-caption .col .mockup {
        height: 30vh; }
      .page2 .carousel-caption .col .layer {
        height: 30vh;
        top: 30vh; }
    .page2 .carousel-caption fieldset legend {
      font-size: 4vw; }
    .page2 .carousel-caption .description p {
      line-height: 16px; }
  .page2 .content-page {
    margin: 20px 10px 10px;
    width: 100%; }
  .page2 .nav-tabs {
    border: none; }
    .page2 .nav-tabs * {
      font-size: 12px; }
    .page2 .nav-tabs li a {
      padding: 5px 7px; }
    .page2 .nav-tabs li.active a {
      border-bottom: 3px solid #067394;
      padding: 5px 7px; }
  .page2 .glyphicon {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 12px; }
  .page2 .glyphicon-chevron-left {
    left: 12px; }
  .page2 .glyphicon-chevron-right {
    right: 12px; }
  .page2 .carousel-control {
    width: 30px; }

  .page3 .col {
    width: 100%; }
  .page3 .content-page {
    margin: 10px 0;
    width: 100%; }
  .page3 textarea {
    height: 15vh;
    font-size: 2vh;
    width: 100%; }
  .page3 input {
    height: 5vh;
    font-size: 2vh; }
  .page3 button {
    margin: 15px auto;
    font-size: 3vw;
    display: none; }

  .col-extra {
    display: block; }
    .col-extra .submit-sec {
      margin: 15px auto;
      font-size: 3vw; } }
@media (max-width: 400px) and (orientation: landscape) {
  .page3 button {
    font-size: 1.5vw;
    padding: 3px 5px; } }

/*# sourceMappingURL=style-gr.css.map */
