body {
	background: #E2E4E7;
	padding: 0;
	text-align: center;
	font-family: 'open sans';
	position: relative;
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
} 
.wrapper {
	height: 100% !important;
	margin: 0 auto; 
	overflow: hidden;
	width: 75%;
	float: left;
	background: #fff;
}

.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}
    
.back {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: block;
	padding: 7px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: rgba(255, 255, 255, 0.25);
	font-weight: bold;
	font-size: 13px;
	color: #000;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.back:hover {
	color: black;
	background: rgba(255, 255, 255, 0.5);
}

.menu {
	font-size: 2.2vh;
	background: #067394;
	height: 100vh;
	color: #fff;
	padding: 9vh 30px;
	width: 25%;
	float: right;
	position: relative;
	z-index: 0;
	overflow: hidden;
	.shadow {
		position: absolute;
		height: 150px;
		width: 1000px;
		z-index: 0;
		transform: rotate(45deg);
	}
	.shadow-0 {
		left: -200px;
		top: -20px;
		background: rgba(0,0,0,0.1);
	}
	.shadow-1 {
		left: -200px;
		top: 170px;
		background: rgba(0,0,0,0.2);
	}
	.shadow-2 {
		left: -200px;
		top: 360px;
		background: rgba(0,0,0,0.3);
	}
	.shadow-3 {
		left: -200px;
		top: 550px;
		background: rgba(0,0,0,0.4);
	}
	.shadow-4 {
		left: -200px;
		top: 740px;
		background: rgba(0,0,0,0.3);
	}
	.shadow-5 {
		left: -200px;
		top: 930px;
		background: rgba(0,0,0,0.2);
	}
	.content-menu {
		position: relative;
		z-index: 1;
	}
	h1 {
		line-height: 10px;
		display: inline-block;
		padding: 0 5px;
		font-size: 5.7vh;
	}
	h3 {
		margin: 4.8vh auto;
		font-size: 3.8vh;
	}
	h4 {
		margin-top: 4.8vh;
		font-size: 2.8vh;
	}
	.photo {
		background-image: url('../images/face.jpg');;
		background-size: cover;
		background-position: center;
		width: 12vw;
		height: 12vw;
		margin: 0 auto 3vh;
		border: 2px solid #ccc;
		border-radius: 50%;
		box-shadow: 0 0 25px 5px #fff;
		&:hover {
			transform: rotate(720deg);
			transition: 3s;
		}
	}
	a {
		text-decoration: none;
	}
	button {
		display: block;
		margin: 10px auto;
		width: 17vw;
		height: 5.5vh;
		background: rgba(0,0,0,0.2);
		border-radius: 20px;
		color: #fff;
		font-weight: 700;
		
		&:hover {
			background: #fff;
			color: #067394;
			transition: 1s;
			border: none;
		}
	}
	.social {
		a {
			display: inline-block;
			width: 45px;
			height: 45px;
			
			border-radius: 50%;
			margin: 0 10px;
			line-height: 55px;
			&:hover {
				background: #fff;
				transition: 0.4s;
			}
			&:hover .fa {
				color: #CC1E41;
				transition: 0.4s;
			}
			.fa {
				color: #fff;
				font-size: 30px;
			}
		}
	}
}

.page {
	background: #B3DAF5;
	padding: 10px 50px;
	text-align: left;
	color: #032F3D;
	h1 {
		font-family: 'Indie Flower', cursive;
		font-size: 60px;
		font-weight: 700;
		margin-left: 40px;
	}
	.hr {
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background: #032F3D;
	}
	.content-page {
		margin: 30px 20px;
		width: calc(100% - 60px);
		text-align: justify;
	}
	fieldset {
		padding: 0 80px 20px;
		
		border: 3px solid #032F3D;
		border-radius: 20px;
		legend {
			width:inherit;
			padding:0 10px;
			border-bottom:none;
		}
	}
}

.page1 {
	img {
		height: 50px;
		display: inline-block;
		padding: 0 0 5px 5px;
	}
	.big {
		height: 65px;
	}
	.small {
		height: 40px;
	}
	.very-small {
		height: 20px;
		margin-top: 20px;
	}
}

.page2 {
	background: #B3CEF5;
	.nav-tabs {
		background: #04556E;
		color: #fff;
		width: 400px;
		.active {
			background: #032F3D;
			border: none;
			border-bottom: 3px solid red;
		}
	}
}

.page3 {
	background: #B3C4F5;
	textarea, input {
		resize: none;
		background: #cddeff;
	}
	button {
		background: #04556E;
		border: 1px solid #04556E;
		color: #fff;
		display: block;
		font-size: 1em;
		height: 40px;
		line-height: 30px;
		margin: 40px auto 20px;
		outline: 1px solid #04556E;
		outline-offset: 0;
		text-transform: uppercase;
		padding: 0 15px;
		&:hover {
			box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5), 0 0 20px rgba(60, 60, 60, 0.2);
			outline-color: #B3C4F5;
			outline-offset: 15px;
			transition: 0.5s;
		}
	}
}

@media (max-width: 1576px) {
	.menu {
		padding: 7vh 30px;
	}
}