body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  position: relative !important;
  top: auto !important;
  left: auto !important;
}

.section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  left: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a {
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(3,47,61,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid rgb(3,47,61);
  margin-top: -2px;
  left: 9px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}
 
#menu-wrapper {
    overflow: hidden;
    width: 100%;
	max-width: 100%;
    cursor: pointer;
	background: #FF5722;
	height: 75px;
	position: fixed;
	background: #067394;
	color: #fff;
	z-index: 1;
	text-align: center;
	display: none;
}

#menu-wrapper.full-height {
	height: 100vh;
	 transition: .8s ease-in-out;
}

#menu-wrapper.small-height {
	height: 75px;
	 transition: .8s ease-in-out;
}

#menu-wrapper #hamburger-menu {
    position: relative;
    width: 40px;
    height: 30px;
    margin: 20px 30px;
	z-index: 2;
	float: left;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    right: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    color: black;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
	position: relative;
	z-index:
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 12px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 24px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    top: 16px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
} 